# Project exclude paths
/out/
/ReverseEcho/nbproject/private/
/ReverseEcho/dist/
/ReverseEcho/build/
/MultiUserReverseEcho/nbproject/private/
/MultiUserReverseEcho/dist/
/MultiUserReverseEcho/build/
/DatagramComu/nbproject/private/
/DatagramClient/nbproject/private/
/DatagramClient/build/
/DatagramClient/dist/
