# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\MyJava\FinalDemo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
